.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
a .App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#table-title {
  font-size: 125%;
}

#manager-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in-header {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in-container {
  margin-top: 55px;
  margin-bottom: 100px;
  border: 1px solid black;
  width: 35%;
  padding: 3%;
}

#sign-up-container {
  margin-top: 55px;
  margin-bottom: 100px;
  border: 1px solid black;
  width: 35%;
  padding: 3%;
}

#home-header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-container {
  /*margin-top: 25px;*/
  /*margin-right: 150px;*/
  /*margin-bottom: 100px;*/
    margin: auto;
    margin-left: 17.5%;
}

#profile {
  margin-top: 100px;
  margin-left: 25px;
}

#user {
  margin-right: 30px;
}

#loading {
  margin: auto;
  width: 50%;
  padding: 200px 0;
  text-align: center;
}

#error-message {
  color: red;
}

/*****************************
  NAV
*****************************/
.rev-logo {
  /*width: auto;*/
  /*height: 2em;*/
  /*margin-right: 2em;*/
  font-size: 31px;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(30, 143, 30);
}

/*****************************
  View A Workout
*****************************/
#date-type {
  margin: 20px;
  text-align: left;
}

#title-card-exercise {
  font-size: 125%;
  text-align: center;
}

.specific-exercise {
  width: 60%;
  margin: auto;
}

/*****************************
  Workout History
*****************************/
.workout-history-container {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 2%;
}

.traverse-buttons {
  text-align: center;
}

/*****************************
  Create Workout & Exercises
*****************************/
.create-table-container {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
.create-workout-title {
  margin-top: 2%;
  margin-bottom: 3%;
}
.form-inline {
  padding-left: 5%;
  padding-right: 5%;
}
.form-group {
  padding: 10px;
}
.form-group input {
  width: 23px;
}
.input-group {
  padding: 0;
}
.submit-center {
  text-align: center;
}

/*****************************
  Clicker
*****************************/
.blue {
  color: blue;
}

.red {
  color: red;
}

/*****************************
  Slide Animation
*****************************/
.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

/*****************************
  Extra stuff
*****************************/
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #4285f4;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285f4;
  }
}
/*****************************
Dashboard
*****************************/
h2 {
  margin: 2.3%;
}
h3 {
  text-align: center;
}
h5 {
  text-align: center;
}
.button {
  margin: 1.2%;
  color: black;
}
.form-control {
  width: 15%;
}
.weight-change {
  display: flex;

  flex-wrap: wrap;
  margin-left: 1.2%;
}

.workout-link {
  color: blue;
}
